body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App header {
  margin-top: 80px;
  margin-bottom: 30px;
}

.App .danielle-logo {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.App footer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

.App a {
  color: #fff;
  text-decoration: none;
}
