.Results section {
  background: #ffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 20px 0;
}

.Results h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}
